.wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.container {
  display: flex;
  background-color: #f4f1ec;
  justify-content: center;
  align-items: center;
}

section {
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
}

textarea {
  display: flex;
  width: 100%;
  overflow: auto;
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
  border-bottom: 5px solid black;
  /* padding:20px; */
}
::placeholder {   
  font-weight: bold;
  
}

.roger {
  display: flex;
  justify-content: space-between;
  font-family: bungee;
  margin-top: 10px;
}

button {
  background-color: blue;
  color: white
  
}

.selector {
  color : red;
}

.error-messages {
  width: 100%;
}

#error-exceed {
  background: tra;
  color: #c51244;
  font-size: 1rem;
  padding: 10px;
  border: 3px solid #e10040;
  border-radius: 0;
  position: relative;
  display: none;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#error-empty {
  background: transparent;
  color: #c51244;
  font-size: 1rem;
  padding: 10px;
  border: 3px solid #e10040;
  border-radius: 0;
  position: relative;
  display: none;
  box-shadow: 1px 1px 1px #aaaaaa;
  margin-top: 10px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}