article.timeline{
margin-top: 20px;
border: 3px solid rgb(74, 74, 74);
}

article.timeline:hover {
  box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.1s;
}


header.timeline-tweet {
  display: flex;
  height: 180px;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  margin-top:0;
  padding: 20px;
}

div.leftside-info {
  display: flex;
  flex-direction: row;
}
img.mini-avatar {
  margin-right: 15px;
}

div.user-info {
  display: flex;
  flex-direction: row;
}

footer.footer-info {
  display: flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: flex-start;
  padding: 20px;

}
#date {
  display: flex;
  font-size: 1.1rem;
}


#icons {
  display: flex;
  color: #4056a1;
  font-size: 1.1rem;
}

#icons i:hover {
  color: rgb(182, 182, 0);
}
